<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <style>
        .room-card {
            margin-bottom: 20px;
        }

        .room-card .card-body {
            padding: 1.25rem;
        }

        .room-card .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .room-card .card-text {
            margin-bottom: 0.5rem;
        }
    </style>
</head>

<body>
    <!-- Main Navbar -->
    <%- include ('dashboard-navbar.ejs') %>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Empty column for side nav -->
                    <%- include ('side-nav.ejs')%>
                </div>

                <div class="col-sm-9">
                    <div class="container mt-5">
                        <% if (myRoom) { %>
                            <div class="row me-5 ms-5 mb-5">
                                <h1 class="mt-5 mb-4">Room Information</h1>

                                <div class="col-md-6">
                                    <div class="card room-card">
                                        <div class="card-body">
                                            <h5 class="card-title">Room <%= myRoom.roomNumber %>
                                            </h5>
                                            <div class="row">
                                                <div class="col-md-6 fs-6">Room Type:</div>
                                                <div class="col-md-4 fs-6 card-text">
                                                    <%= myRoom.type %>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 fs-6">Hostel:</div>
                                                <div class="col-md-4 fs-6 card-text">
                                                    <%= myRoom.hostelId.hostelName %>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 fs-6">Floor No.:</div>
                                                <div class="col-md-4 fs-6 card-text">
                                                    <%= myRoom.floor %>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 fs-6">Amount Paid:</div>
                                                <div class="col-md-4 fs-6 card-text">$<%= myRoom.price %>.00</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } else { %>
                                <div class="alert alert-danger alert-dismissible fade show custom-alert" role="alert">
                                    You have no room booked.
                                    <button type="button" class="alert-close" data-bs-dismiss="alert">&times;</button>
                                </div>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>