<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Main Navbar -->
  <%- include ('dashboard-navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <!-- Empty column for side nav -->
          <%- include ('side-nav.ejs')%>
        </div>

        <div class="col-sm-9">
          <div class="container mt-5">
            <% if (messages.error_msg) { %>
              <div class="alert alert-success alert-dismissible fade show custom-alert" role="alert">
                <%= messages.error_msg %>
                  <button type="button" class="alert-close" data-bs-dismiss="alert">&times;</button>
              </div>
              <% } %>
                <% if (messages.success_msg) { %>
                  <div class="alert alert-success alert-dismissible fade show custom-alert" role="alert">
                    <%= messages.success_msg %>
                      <button type="button" class="alert-close" data-bs-dismiss="alert">&times;</button>
                  </div>
                  <% } %>
                    <div class="row me-5 ms-5 mb-5">
                      <div class="col-sm-4">
                        <div class="card tile">
                          <div class="card-body">
                            <div class="row mb-2">
                              <div class="col-md-8 card-number">
                                <%= numHostels %>
                              </div>
                              <div class="col-md-4 card-icon">
                                <i class="far fa-building card-icon"></i>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10">Available Hostels</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card tile">
                          <div class="card-body">
                            <div class="row mb-2">
                              <div class="col-md-8 card-number">
                                <%= numRooms %>
                              </div>
                              <div class="col-md-4 card-icon">
                                <i class="fas fa-bed card-icon"></i>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10">Available Rooms</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <form action="" class="row me-5 ms-5 mb-1 mt-5 justify-content-between">
                      <div class="col-md-4">
                        <select id="hostelId" name="hostelId" class="form-select" required>
                          <option value="">Select Hostel</option>
                          <% hostels.forEach(hostel=> { %>
                            <option value="<%= hostel._id %>">
                              <%= hostel.hostelName %>
                            </option>
                            <% }); %>
                        </select>

                      </div>
                      <div class="col-md-4">
                        <select class="form-select" id="exampleSelect">
                          <option value="1">Room</option>
                          <option value="2">Single</option>
                          <option value="2">Studio</option>

                        </select>
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn primary-button">Search</button>
                      </div>
                    </form>

                    <div class="row me-5 ms-5">
                      <div class="col-sm-12">
                        <div class="card card-standard-height">
                          <div class="card-header d-flex justify-content-between">
                            <span>Rooms</span>
                            <span><i class="fas fa-plus" data-bs-toggle="modal"
                                data-bs-target="#addRoomModal"></i></span>
                          </div>
                          <div class="card-body">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">S.No</th>
                                  <th scope="col">Room No.</th>
                                  <th scope="col">Category</th>
                                  <th scope="col">Hostel</th>
                                  <th scope="col">Floor</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% rooms.forEach((room, index)=> { %>
                                  <tr>
                                    <th scope="row">
                                      <%= index + 1 %>
                                    </th>
                                    <td>
                                      <%= room.roomNumber %>
                                    </td>
                                    <td>
                                      <%= room.type %>
                                    </td>
                                    <td>
                                      <%= room.hostelId.hostelName %>
                                    </td>
                                    <td>
                                      <%= room.floor %>
                                    </td>
                                    <td>$ <%= room.price %>
                                    </td>
                                    <td>
                                      <button type="button" class="btn adaptive-button" class="me-3"
                                        data-bs-toggle="modal" data-bs-target="#bookRoomModal"
                                        data-room='<%= JSON.stringify(room) %>'
                                        data-user='<%= JSON.stringify(user) %>'>book</button>
                                    </td>
                                  </tr>
                                  <% }); %>

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="bookRoomModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Book Room</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container mb-3">
              <h5>Booking Details:</h5>
              <div class="row">
                <div class="col-md-6 fs-6">Room Number:</div>
                <div class="col-md-4 fs-6 fw-semibold roomNumber"></div>
              </div>
              <div class="row">
                <div class="col-md-6 fs-6">Room type:</div>
                <div class="col-md-4 fs-6 fw-semibold roomType"></div>
              </div>
              <div class="row">
                <div class="col-md-6 fs-6">Hostel:</div>
                <div class="col-md-4 fs-6 fw-semibold hostelName"></div>
              </div>
              <div class="row">
                <div class="col-md-6 fs-6">Floor Number:</div>
                <div class="col-md-4 fs-6 fw-semibold floorNumber"></div>
              </div>
              <div class="row">
                <div class="col-md-6 fs-6 fw-semibold">Total Price:</div>
                <div class="col-md-4 fs-6 fw-semibold roomPrice"></div>
              </div>

            </div>



            <form action="booking/book-room" method="POST">
              <input type="hidden" name="roomId" id="bookRoomId">
              <input type="hidden" name="userId" id="bookUserId">
              <button type="submit" class="btn btn-primary adaptive-button">Proceed to Payment</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <script>
      const bookRoomModal = document.getElementById('bookRoomModal');
      bookRoomModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        // Extract room info from data-room attribute
        const room = JSON.parse(button.getAttribute('data-room'));
        // Extract room info from data-user attribute
        const user = JSON.parse(button.getAttribute('data-user'));

        // Update the modal's content.
        const modalTitle = bookRoomModal.querySelector('.modal-title');
        const roomNumber = bookRoomModal.querySelector('.roomNumber');
        const roomType = bookRoomModal.querySelector('.roomType');
        const hostelName = bookRoomModal.querySelector('.hostelName');
        const floorNumber = bookRoomModal.querySelector('.floorNumber');
        const roomPrice = bookRoomModal.querySelector('.roomPrice');


        const roomId = document.getElementById('bookRoomId');
        const userId = document.getElementById('bookUserId');


        userId.value = user._id;
        roomId.value = room._id;
        modalTitle.textContent = 'Book Room: ' + room.roomNumber;
        roomNumber.textContent = room.roomNumber;
        roomType.textContent = room.type;
        hostelName.textContent = room.hostelId.hostelName;
        floorNumber.textContent = room.floor;
        roomPrice.textContent = "$" + room.price;

      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>

</html>